.button {
	height: 35px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: lightgrey;
	border: none;
	border-radius: 15px;
	box-shadow: 0px 4px 8px #ffcab1;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.button:hover {
	background-color: #ffcab1;
	box-shadow: 0px 15px 20px #ffcab1;
	color: #fff;
	transform: translateY(-2px);
}
