.signUpContainer {
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 300px;
    background-color: white;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
    border: solid;
    border-width: 10px;
    border-color: #e9e9e9;
}

.userNameText {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 10px;
}

.userNameInput {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

.userNameInput:focus {
    outline: none;
}

.addBiosText {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 2px;
}

.biosReqText {
    font-family: sans-serif;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(114, 114, 114);
}

.biosTextBox {
    width: 100%;
    resize: none;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.biosTextBox:focus {
    outline: none;
}

.charCount {
    color: grey;
}

.googleButton {
    margin-top: 30px;
    margin-bottom: 20x;
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
}
