.UserInfo {
    float: right;
    width: 200px;
    height: 200px;
    background-color: white;
}

.profilePicAndName {
    background-color: white;
    display: inline-block;
}

.profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.name {
    float: left;
    margin-left: 10px;
    background-color: white;
}

.whiteBackground {
    background-color: white;
}
