.signUpBackground {
    max-width: 100%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 0;
    position: absolute;
}

.paintBlue {
    position: absolute;
    z-index: 0;
    left: 45%;
    top: -30px;
}

.paintYellow {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 50%;
}

.paintRed {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 10%;
}
