.searchTagContainer {
    display: flex;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid;
    border-radius: 55px;
    background-color: e9e9e9;
}

.searchTagContainer:hover {
    color: white;
    cursor: pointer;
}

.tagNames {
    font-size: 12px;
}
