html {
    background-color: #e9e9e9;
}

body {
    margin: 0px;
}

.signUp-signUpText {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
}

.signUp-googleButton {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.index-signInComponent {
    position: absolute;
    top: 15%;
    left: 40%;
    z-index: 2;
}

.index-background {
    position: relative;
    z-index: 0;
}

.index-dimBackground {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.388);
}
